<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>FXGAME</title>

    <style>
        body {padding:50px;}
        #time {
            padding:50px;
        }
        #up{
            width:300px;
            height:50px;
            background-color: white;
        }
        #down{
            width:300px;
            height:50px;
            background-color: white;
        }
        
        
    </style>

<script>
    var choice = -1;
    var xVal = 0;

    function up(){
        if(xVal%20>10){window.alert("베팅을 변경하실 수 없습니다.");}
        else{
            choice=1;
            document.getElementById('up').style.backgroundColor="#808080";
            document.getElementById('down').style.backgroundColor="white";
        }
    }

    function down(){
        if(xVal%20>10){window.alert("베팅을 변경하실 수 없습니다.");}
        else{
            choice=0;
            document.getElementById('down').style.backgroundColor="#808080";
            document.getElementById('up').style.backgroundColor="white";
        }
    }


    window.onload = function () {
        var dps = []; // dataPoints
        var chart = new CanvasJS.Chart("chartContainer", {
            title :{
                text: "FXGAME"
            },
            data: [{
                type: "line",
                dataPoints: dps,
                // color: "00FF00"
            }],
            axisX:{
                interval: 1,
                stripLines:[{
                    value:0,
                    color:"#00FF00",
                    thickness: 4,
                }],
            },
            axisY:{
                minimum: 900,
                maximum: 1100,
                interval: 25,
                stripLines:[
                {                
                    value: 100,
                    color: "#FF0000",
                    thickness: 4,               
                }
                ]                    
            }
        });
        
        var M = 4294967296, // a - 1 should be divisible by m's prime factors
            A = 1664525, // c and m should be co-prime
            C = 1,
            seed = Math.floor(Math.random() * M);

        function rand(){
            seed = (A * seed + C) % M;
            return seed / M;
        }

        function interpolate(a, b, x){
            var ft = x * Math.PI,
                f = (1 - Math.cos(ft)) * 0.5;
            return a * (1 - f) + b * f;
        }

        var x = 0;
        var y = 0;
        var yVal = 0;
        var amp = 20;
        var wl = 6;
        var a = rand();
        var b = rand();
        var xSet=0;
        var yflow = [];  // 320 프레임의 데이터 정보
        var answer = []; // 15 세트의 정답 (UP = 1, DOWN = 0)
        var info = [];   // 다른 사람들의 선택 정보 (UP = 1, DOWN = 0)
        var prob = 0;  // 다른 사람들의 선택의 신뢰도 (1이면 항상 맞음)
        var updateInterval = 1000;
        var dataLength = 20;
        var cnt = 0;
        var history="";
        var point = 0;
        var msg = "";

        if ("{{ participant.group}}"=="B"){
            prob = 0.25;
        }
        else if("{{ participant.group}}"=="C"){
            prob = 0.5;
        }
        else if("{{ participant.group}}"=="D"){
            prob = 0.75;
        }

        while (x < 320) {
            cnt += (rand() - 0.5) * 10;
            if(x % wl === 0){
                a = b;
                b = rand();
                y = 990 + a * amp;
            }else{
                y = 990 + interpolate(a, b, (x % wl) / wl) * amp;
            }
            x += 1;
            yflow.push(y  + cnt + (rand() - 0.5) * 20);
        }

        for (var i = 19; i < 300 ; i = i + 20) {
            if (yflow[i] < yflow[i + 20]) {
                answer.push(1);
            }
            else {
                answer.push(0);
            }
        }

        for (var i = 0 ; i < 15 ; i = i + 1) {
            if (rand() < prob) {
                info.push(answer[i]);
            }
            else {
                info.push(1 - answer[i]);
            }
        }

        while (xVal < 19) {
            yVal = yflow[xVal];
            dps.push({
                x: xVal + 1,
                y: yVal
            });
            xVal++;
        }
        

        var updateChart = function () {
            yVal = yflow[xVal];
            document.getElementById('time').innerHTML = "경과시간: "+(xVal%20) + "초";
            document.getElementById('rate').innerHTML = "현재 환율: "+yflow[xVal];
            dps.push({
                x: xVal + 1,
                y: yVal
            });
            xVal++;
            if (xVal % 20 === 0) {
                xSet += 1;
                document.getElementById('set').innerHTML = "Set "+(xSet);
                document.getElementById('initial_rate').innerHTML = "초기 환율: "+yflow[xSet * 20 - 1];
                if (info[xSet-1]==0){
                    msg = '하락';
                }
                else{msg='상승';}
                if (prob==0.25){
                    document.getElementById('hintB').innerHTML = "대다수의 사람들은 본 세트에서 "+msg+"한다고 예상했습니다.";
                }
                else if(prob==0.5){
                    document.getElementById('hintC').innerHTML = "대다수의 사람들은 본 세트에서 "+msg+"한다고 예상했습니다.";
                }
                else if(prob==0.75){
                    document.getElementById('hintD').innerHTML = "대다수의 사람들은 본 세트에서 "+msg+"한다고 예상했습니다.";
                }
                history += choice + '/';
                document.getElementById('history').innerHTML = history;
                if (choice == answer[xSet-1]){
                    point++;
                }
                choice = -1;
                document.getElementById('point').innerHTML = "현재 점수: "+point;
                document.getElementById('down').style.backgroundColor="white";
                document.getElementById('up').style.backgroundColor="white";
                chart.options.axisY.stripLines[0].value = yflow[xSet * 20 - 1];
                chart.options.axisX.stripLines[0].value = xSet * 20 + 0.5;
            }
            if(xVal==320){
                window.alert("설문조사가 종료되었습니다. 제출 버튼을 눌러주세요.");
                document.getElementById('submit').innerHTML="<form action=\"{% url 'polls:submit' participant.id %}\" method=\"post\"\"> <input type = \"submit\" value=\"설문조사 제출하기\"><input name='hist' value='"+history+"'><input name='ans' value='"+answer+"'><input name='info' value='"+info+"'></form>";
            }
            if (dps.length > dataLength) {
                dps.shift();
            }
            chart.render();

        };
        
        updateChart();
        setInterval(function(){updateChart()}, updateInterval);
    }
    </script>

</head>
<body>
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}


<div id="chartContainer" style="height: 450px; width: 600px;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



{% if participant.group == 'B' %}
<p id="hintB"></p>
{% endif %}
{% if participant.group == 'C' %}
<p id="hintC"></p>
{% endif %}
{% if participant.group == 'D' %}
<p id="hintD"></p>
{% endif %}

<span id="set">set 1</span>
<span id="time">0초</span>
<p id="point"></p>
<p id="initial_rate"></p>
<p id="rate"></p>
<input type="button" value="상승" id="up" onclick="up();"/>
<input type="button" value="하락" id="down" onclick="down();"/>

<p id="history"></p>

<div id="submit"></div>

</body>
</html>