<!DOCTYPE HTML>

<html>
	<head>
		<title>FXGAME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
							<h1 id="title">과기글</h1>
							<p>FXGAME Survey</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Start</span></a></li>
								<!--<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>-->
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">FXGAME?</span></a></li>
								<!--<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>-->
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">안녕하세요! <strong>설문조사</strong>에 참여해주셔서 감사합니다.<br />
								시작하기 앞서 <strong>아래 글</strong>을 반드시 읽어주세요.</h2>
								<p>예상 소요 시간: 4분<br />
								아래 버튼을 눌러 참여해주세요!</p>
							</header>

							<footer>
								<form action="{% url 'polls:participate' %}"> 
									<input type = "submit" value="설문조사 참여하기" class="button scrolly"> 
								</form> 
							</footer>

						</div>
					</section>

				
				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>FXGAME?</h2>
							</header>

							<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

							<p>본 설문조사에서 진행하는 FXGAME은 20초 뒤에 초기 환율이 상승하는지 또는 하락하는지 맞추는 간단한 베팅 게임입니다.
								20초씩 10개의 세트로 구성되어 있으며, 13초 이후부터는 상승/하락 버튼을 누를 수 없습니다.
								초기 자금은 1억이며 맞추면 1.3배, 틀리면 0.8배가 됩니다. 아무 버튼을 누르지 않는다면 돈은 차감되지 않습니다.
								행운을 빕니다 :)
							</p>

						</div>
					</section>

				

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>